html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit; 
}

body {
    line-height: 1.5;
    font-size: 2em;
}

.budget {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}