html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit; 
}

body {
    line-height: 1.5;
}

.budget-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.budget-form {
    display: flex;
    justify-content: center;
}

